# Interface utilisateur
streamlit

# Manipulation de données
pandas
numpy
openpyxl

# Visualisation
matplotlib
seaborn
plotly
kaleido

# Machine Learning - Base
scikit-learn
joblib

# Machine Learning - Avancé
xgboost

# Séries Temporelles
prophet
neuralprophet

# Explainabilité (optionnel)
shap

# Utilitaires scientifiques
scipy

# Optimisation
optuna
